<template>
  <div>
    <section class="content">
      <div class="alert alert-dismissible" :class="[errorClass2]" role="alert" v-if="erro">
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close" @click="desaparecer"><span aria-hidden="true">&times;</span></button>
			  <strong>Atenção!</strong> {{mensagemErro}}
			</div>
      <div class="row">
        <div class="col-sm-12">
          <div class="box box-info">
            <!-- Input Addons -->
            <div class="box-header with-border">
              <h3 class="box-title">Novo Usuario</h3>
              <div class="box-tools pull-right">
                <!-- Buttons, labels, and many other things can be placed here! -->
                <!-- Here is a label for example -->
                <router-link to="/usuarios" tag="button" class="btn btn-danger btn-sm"><i class="fa fa-remove"> Fechar</router-link>
              </div><!-- /.box-tools -->
            </div>
            <div class="box-body">
              <form @submit.prevent="enviar" autocomplete="off">
                <div class="input-group">
                  <span class="input-group-addon">Loguin</span>
                  <input type="email" class="form-control" placeholder="E-mail" v-model="login" required>
                </div>
                <br/>
                <div class="input-group">
                  <span class="input-group-addon">Nome</span>
                  <input type="text" class="form-control" v-model="nome" required>
                </div>
                <br/>
                <div class="input-group">
                  <span class="input-group-addon">Senha</span>
                  <input type="password" class="form-control"  v-model="senha" required>
                </div>
                <br/>
                <div class="input-group">
                  <span class="input-group-addon">Digite novamente a senha</span>
                  <input type="password" class="form-control" v-model="senhaDuplicada" required>
                </div>
                <br/>
                <div class="form-group">
                  <label class="control-label">Permisssao</label>
                  <label class="radio-inline">
                    <input type="radio" name="permissao" v-model="permissao" value="admin" > Administrador
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="permissao" v-model="permissao" value="normal" > Regular
                  </label>
                </div>
                <br/>
                <div class="input-group" :class="[errorClass]">
                  <input type="submit" id="enviar" class="btn btn-primary">
                  <span class="help-block">{{mensagemEnvio}}</span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
  export default {
    name: 'novousuario',
    data () {
      return {
        login: '',
        senha: '',
        senhaDuplicada: '',
        nome: '',
        permissao: '',
        errorClass: '',
        mensagemEnvio: '',
        mensagemErro: '',
        errorClass2: '',
        erro: false
      }
    },
    computed: {
      loginCopia () {
        return this.login
      },
      nomeCopia () {
        return this.nome
      },
      permissaoCopia () {
        return this.permissao
      }
    },
    methods: {
      enviar () {
        if (this.checarSenha() === true) {
          this.$http.post(this.$store.state.urlAPI + 'dados/usuarios/novo_usuario', {
            'Login': this.loginCopia,
            'Password': this.senhaDuplicada,
            'Name': this.nomeCopia,
            'Credential': this.permissaoCopia
          }).then((response) => {
            console.log('sucess ', response.body)
            response.json().then((data) => {
              this.$store.commit('ADD_USUARIO', {
                'login': this.loginCopia,
                'name': this.nomeCopia,
                'credential': this.permissaoCopia
              })
            })
            this.errorClass = 'has-success'
            this.mensagemEnvio = 'Enviado com sucesso'
          }, (response) => {
            console.log('erro: ', response)
            this.errorClass = 'has-warning'
            this.mensagemEnvio = 'Falha na rede. Verifique sua conexão'
          })
        } else {
          this.mensagemErro = 'Senhas precisam ser iguais'
          this.errorClass2 = 'alert-danger'
          this.erro = true
        }
      },
      reverseData (dataIn) {
        return dataIn.split('/').reverse().join('-')
      },
      checarSenha () {
        if (this.senha === this.senhaDuplicada) {
          return true
        } else {
          return false
        }
      },
      desaparecer () {
        this.erro = false
      }
    }
  }
</script>
<style></style>
